Using 2017 annual summary 'AQI by Monitor' data from EPA.

I used this data set by accident. Will actually now use AQI by county info.

In [106]:
import pandas as pd

In [107]:
aqi17 = pd.read_csv("data/annual_aqi_by_cbsa_data/annual_aqi_by_cbsa_2017.csv")

In [108]:
aqi17.columns

Index(['CBSA', 'CBSA Code', 'Year', 'Days with AQI', 'Good Days',
       'Moderate Days', 'Unhealthy for Sensitive Groups Days',
       'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days SO2', 'Days PM2.5', 'Days PM10'],
      dtype='object')

In [109]:
# rename the columns to make things a bit easier
aqi17.columns = ['cbsa', 'cbsa_code', 'year', 'days_with_aqi', 'good_days',
       'moderate_days', 'unhealthy_sensitive_days',
       'unhealthy_days', 'very_unhealthy_days', 'hazardous_days', 'max_aqi',
       '90th_percentile_aqi', 'median_aqi', 'days_CO', 'days_NO2',
       'days_ozone', 'days_SO2', 'days_PM2.5', 'days_PM10']

In [110]:
aqi17.head()

,cbsa,cbsa_code,year,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,max_aqi,90th_percentile_aqi,median_aqi,days_CO,days_NO2,days_ozone,days_SO2,days_PM2.5,days_PM10
0,"Aberdeen, SD",10100,2017,122,117,5,0,0,0,0,97,40,23,0,0,0,0,105,17
1,"Aberdeen, WA",10140,2017,365,344,18,2,1,0,0,159,43,20,0,0,0,0,365,0
2,"Adjuntas, PR",10260,2017,47,41,6,0,0,0,0,89,55,28,0,0,0,0,47,0
3,"Adrian, MI",10300,2017,364,302,61,1,0,0,0,101,58,40,0,0,207,0,157,0
4,"Akron, OH",10420,2017,365,268,97,0,0,0,0,97,60,40,0,0,186,0,179,0

In [111]:
# Add a state abbreviation column for where the CBSA is located
aqi17['state_abbr'] = aqi17['cbsa'].str[-2:]

In [112]:
aqi17.head()

,cbsa,cbsa_code,year,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,max_aqi,90th_percentile_aqi,median_aqi,days_CO,days_NO2,days_ozone,days_SO2,days_PM2.5,days_PM10,state_abbr
0,"Aberdeen, SD",10100,2017,122,117,5,0,0,0,0,97,40,23,0,0,0,0,105,17,SD
1,"Aberdeen, WA",10140,2017,365,344,18,2,1,0,0,159,43,20,0,0,0,0,365,0,WA
2,"Adjuntas, PR",10260,2017,47,41,6,0,0,0,0,89,55,28,0,0,0,0,47,0,PR
3,"Adrian, MI",10300,2017,364,302,61,1,0,0,0,101,58,40,0,0,207,0,157,0,MI
4,"Akron, OH",10420,2017,365,268,97,0,0,0,0,97,60,40,0,0,186,0,179,0,OH

In [113]:
# Set the right data types for columns
string_columns = ['cbsa', 'cbsa_code', 'state_abbr']
for column in aqi17:
    if column in string_columns:
        aqi17[column] = aqi17[column].astype(str)
    else:
        aqi17[column] = aqi17[column].astype(int)

In [114]:
aqi17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536 entries, 0 to 535
Data columns (total 20 columns):
cbsa                        536 non-null object
cbsa_code                   536 non-null object
year                        536 non-null int32
days_with_aqi               536 non-null int32
good_days                   536 non-null int32
moderate_days               536 non-null int32
unhealthy_sensitive_days    536 non-null int32
unhealthy_days              536 non-null int32
very_unhealthy_days         536 non-null int32
hazardous_days              536 non-null int32
max_aqi                     536 non-null int32
90th_percentile_aqi         536 non-null int32
median_aqi                  536 non-null int32
days_CO                     536 non-null int32
days_NO2                    536 non-null int32
days_ozone                  536 non-null int32
days_SO2                    536 non-null int32
days_PM2.5                  536 non-null int32
days_PM10                   536 non-null int32
state_abbr                  536 non-null object
dtypes: int32(17), object(3)
memory usage: 48.2+ KB

In [115]:
# Let's calculate some basic stuff.

# Rank by least good days
aqi17[['cbsa', 'year', 'good_days']].sort_values('good_days', ascending=False).head(20)

                            cbsa  year  good_days
98     College Station-Bryan, TX  2017        365
510               Washington, NC  2017        365
413                    Salem, OH  2017        365
352              Ottawa-Peru, IL  2017        364
322           Mount Pleasant, TX  2017        363
244                    Kapaa, HI  2017        362
129               Dodge City, KS  2017        360
509               Washington, IN  2017        358
379               Portsmouth, OH  2017        358
507                   Warren, PA  2017        358
290                   Malone, NY  2017        355
240  Kahului-Wailuku-Lahaina, HI  2017        355
232                Jamestown, ND  2017        355
78   Chambersburg-Waynesboro, PA  2017        354
372        Point Pleasant, WV-OH  2017        353
105                  Concord, NH  2017        353
205                 Harrison, AR  2017        352
235                   Jasper, IN  2017        350
92                 Clearlake, CA  2017        350
227                   Ithaca, NY  2017        350

In [116]:
# Actually, let's calculate the number of good days as a percentage of total AQI days
aqi17['pct_good'] = aqi17['good_days'] / aqi17['days_with_aqi'] * 100
aqi17.head()

,cbsa,cbsa_code,year,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,...,90th_percentile_aqi,median_aqi,days_CO,days_NO2,days_ozone,days_SO2,days_PM2.5,days_PM10,state_abbr,pct_good
0,"Aberdeen, SD",10100,2017,122,117,5,0,0,0,0,...,40,23,0,0,0,0,105,17,SD,95.901639
1,"Aberdeen, WA",10140,2017,365,344,18,2,1,0,0,...,43,20,0,0,0,0,365,0,WA,94.246575
2,"Adjuntas, PR",10260,2017,47,41,6,0,0,0,0,...,55,28,0,0,0,0,47,0,PR,87.234043
3,"Adrian, MI",10300,2017,364,302,61,1,0,0,0,...,58,40,0,0,207,0,157,0,MI,82.967033
4,"Akron, OH",10420,2017,365,268,97,0,0,0,0,...,60,40,0,0,186,0,179,0,OH,73.424658

In [117]:
# Which CBSAs had the most x days?

# Most hazardous days in 2017?
aqi17.sort_values('hazardous_days', ascending=False).head(10)

,cbsa,cbsa_code,year,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,...,90th_percentile_aqi,median_aqi,days_CO,days_NO2,days_ozone,days_SO2,days_PM2.5,days_PM10,state_abbr,pct_good
310,"Missoula, MT",33540,2017,365,111,181,24,14,17,15,...,176,61,0,0,52,0,313,0,MT,30.410959
41,"Bend-Redmond, OR",13460,2017,365,292,45,2,15,8,3,...,81,20,0,0,0,0,365,0,OR,80.000000
267,"Las Cruces, NM",29740,2017,365,131,200,27,4,0,2,...,100,57,0,1,257,0,30,77,NM,35.890411
398,"Riverside-San Bernardino-Ontario, CA",40140,2017,365,25,165,95,53,25,2,...,190,99,0,16,222,1,95,31,CA,6.849315
143,"El Centro, CA",20940,2017,365,112,212,36,2,1,2,...,104,61,0,2,170,0,100,93,CA,30.684932
188,"Grants Pass, OR",24420,2017,365,249,95,6,9,4,2,...,77,31,0,0,0,0,365,0,OR,68.219178
47,"Bishop, CA",13860,2017,365,204,136,16,3,0,2,...,87,48,0,0,288,0,23,54,CA,55.890411
299,"Medford, OR",32780,2017,365,235,99,16,10,3,2,...,94,41,0,0,108,0,257,0,OR,64.383562
366,"Phoenix-Mesa-Scottsdale, AZ",38060,2017,365,32,238,82,11,1,1,...,123,84,0,12,135,0,58,160,AZ,8.767123
154,"Eugene, OR",21660,2017,365,239,97,17,9,2,1,...,90,39,0,0,94,0,268,3,OR,65.479452

In [118]:
# most very unhealthy or unhealthy days?
aqi17['sum_unhealthy_very_unhealthy'] = aqi17['unhealthy_days'] + aqi17['very_unhealthy_days']
aqi17.sort_values('unhealthy_days', ascending=False).head(20)

aqi17.sort_values('sum_unhealthy_very_unhealthy', ascending=False).head(10)

,cbsa,cbsa_code,year,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,...,median_aqi,days_CO,days_NO2,days_ozone,days_SO2,days_PM2.5,days_PM10,state_abbr,pct_good,sum_unhealthy_very_unhealthy
212,"Hilo, HI",25900,2017,365,6,58,132,167,2,0,...,146,0,0,0,356,9,0,HI,1.643836,169
398,"Riverside-San Bernardino-Ontario, CA",40140,2017,365,25,165,95,53,25,2,...,99,0,16,222,1,95,31,CA,6.849315,78
282,"Los Angeles-Long Beach-Anaheim, CA",31080,2017,365,38,205,76,38,8,0,...,79,0,28,177,0,158,2,CA,10.410959,46
310,"Missoula, MT",33540,2017,365,111,181,24,14,17,15,...,61,0,0,52,0,313,0,MT,30.410959,31
501,"Visalia-Porterville, CA",47300,2017,365,93,145,96,31,0,0,...,80,0,1,236,0,119,9,CA,25.479452,31
176,"Fresno, CA",23420,2017,365,102,143,93,26,1,0,...,74,0,2,235,0,115,13,CA,27.945205,27
49,"Blacksburg-Christiansburg-Radford, VA",13980,2017,365,216,76,46,27,0,0,...,44,0,0,200,165,0,0,VA,59.178082,27
29,"Bakersfield, CA",12540,2017,365,76,150,115,24,0,0,...,84,0,0,253,0,99,13,CA,20.821918,24
53,"Borger, TX",14420,2017,348,220,47,58,23,0,0,...,20,0,0,0,348,0,0,TX,63.218391,23
41,"Bend-Redmond, OR",13460,2017,365,292,45,2,15,8,3,...,20,0,0,0,0,365,0,OR,80.000000,23

In [119]:
# Make a function to look at specific states by providing a state abbreviation
def just_state(state_abbr):
    """
    state_abbr is a 2-letter string. Returns a subset of aqi17 where the CBSA is located in the state.
    """
    sa = state_abbr.upper()
    return aqi17[aqi17['state_abbr'] == sa]

In [120]:
just_state('MA')

,cbsa,cbsa_code,year,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,...,median_aqi,days_CO,days_NO2,days_ozone,days_SO2,days_PM2.5,days_PM10,state_abbr,pct_good,sum_unhealthy_very_unhealthy
33,"Barnstable Town, MA",12700,2017,356,331,20,5,0,0,0,...,37,0,0,353,0,3,0,MA,92.977528,0
192,"Greenfield Town, MA",24640,2017,365,332,33,0,0,0,0,...,35,0,0,279,0,86,0,MA,90.958904,0
369,"Pittsfield, MA",38340,2017,346,298,48,0,0,0,0,...,35,0,0,0,0,346,0,MA,86.127168,0
383,"Providence-Warwick, RI-MA",39300,2017,365,261,97,5,2,0,0,...,43,0,17,203,0,145,0,MA,71.506849,2
457,"Springfield, MA",44140,2017,365,299,61,5,0,0,0,...,40,0,5,275,0,85,0,MA,81.917808,0
499,"Vineyard Haven, MA",47240,2017,358,340,14,2,2,0,0,...,37,0,0,355,0,3,0,MA,94.972067,2

In [122]:
# An AQI >= 51 corresponds to a day that is not 'good'. Did any CBSAs have a median AQI that was not in the 'good' range?
# (WOW-- that's a lot of places...)
aqi17[aqi17['median_aqi'] >= 51]

,cbsa,cbsa_code,year,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,...,median_aqi,days_CO,days_NO2,days_ozone,days_SO2,days_PM2.5,days_PM10,state_abbr,pct_good,sum_unhealthy_very_unhealthy
8,"Albuquerque, NM",10740,2017,365,165,196,4,0,0,0,...,52,0,2,258,0,29,76,NM,45.205479,0
10,"Allentown-Bethlehem-Easton, PA-NJ",10900,2017,365,176,183,3,3,0,0,...,51,0,1,130,7,227,0,NJ,48.219178,3
24,"Atlanta-Sandy Springs-Roswell, GA",12060,2017,365,174,180,11,0,0,0,...,51,0,16,162,0,187,0,GA,47.671233,0
29,"Bakersfield, CA",12540,2017,365,76,150,115,24,0,0,...,84,0,0,253,0,99,13,CA,20.821918,24
46,"Birmingham-Hoover, AL",13820,2017,365,139,216,10,0,0,0,...,55,0,2,89,73,200,1,AL,38.082192,0
52,"Boise City, ID",14260,2017,365,182,155,23,3,2,0,...,51,1,9,192,0,158,5,ID,49.863014,5
54,"Boston-Cambridge-Newton, MA-NH",14460,2017,365,178,182,5,0,0,0,...,51,0,4,107,0,254,0,NH,48.767123,0
86,"Chicago-Naperville-Elgin, IL-IN-WI",16980,2017,365,157,183,23,2,0,0,...,53,0,21,152,11,164,17,WI,43.013699,2
87,"Chico, CA",17020,2017,365,152,189,23,1,0,0,...,57,0,0,218,0,145,2,CA,41.643836,1
88,"Cincinnati, OH-KY-IN",17140,2017,365,171,184,10,0,0,0,...,52,0,16,136,5,206,2,IN,46.849315,0
95,"Clinton, IA",17540,2017,365,156,209,0,0,0,0,...,52,0,0,48,1,316,0,IA,42.739726,0
119,"Davenport-Moline-Rock Island, IA-IL",19340,2017,365,170,194,1,0,0,0,...,52,0,0,80,0,198,87,IL,46.575342,0
125,"Denver-Aurora-Lakewood, CO",19740,2017,365,72,253,39,1,0,0,...,62,0,73,228,0,48,16,CO,19.726027,1
127,"Detroit-Warren-Dearborn, MI",19820,2017,365,152,197,15,1,0,0,...,54,0,9,110,54,167,25,MI,41.643836,1
143,"El Centro, CA",20940,2017,365,112,212,36,2,1,2,...,61,0,2,170,0,100,93,CA,30.684932,3
145,"El Paso, TX",21340,2017,365,169,172,22,2,0,0,...,51,1,27,206,0,129,2,TX,46.301370,2
176,"Fresno, CA",23420,2017,365,102,143,93,26,1,0,...,74,0,2,235,0,115,13,CA,27.945205,27
203,"Hanford-Corcoran, CA",25260,2017,365,95,197,52,21,0,0,...,70,0,0,199,0,120,46,CA,26.027397,21
212,"Hilo, HI",25900,2017,365,6,58,132,167,2,0,...,146,0,0,0,356,9,0,HI,1.643836,169
267,"Las Cruces, NM",29740,2017,365,131,200,27,4,0,2,...,57,0,1,257,0,30,77,NM,35.890411,4
268,"Las Vegas-Henderson-Paradise, NV",29820,2017,365,136,200,28,1,0,0,...,58,0,46,229,0,79,11,NV,37.260274,1
271,"Lebanon, PA",30140,2017,365,181,183,1,0,0,0,...,51,0,0,121,0,244,0,PA,49.589041,0
282,"Los Angeles-Long Beach-Anaheim, CA",31080,2017,365,38,205,76,38,8,0,...,79,0,28,177,0,158,2,CA,10.410959,46
288,"Madera, CA",31460,2017,365,142,175,42,6,0,0,...,58,0,1,242,0,107,15,CA,38.904110,6
301,"Merced, CA",32900,2017,364,162,168,31,3,0,0,...,54,0,0,213,0,149,2,CA,44.505495,3
308,"Minneapolis-St. Paul-Bloomington, MN-WI",33460,2017,365,174,190,1,0,0,0,...,51,0,6,98,0,132,129,WI,47.671233,0
310,"Missoula, MT",33540,2017,365,111,181,24,14,17,15,...,61,0,0,52,0,313,0,MT,30.410959,31
312,"Modesto, CA",33700,2017,365,156,146,55,8,0,0,...,58,0,1,228,0,128,8,CA,42.739726,8
338,"New York-Newark-Jersey City, NY-NJ-PA",35620,2017,365,154,192,17,2,0,0,...,52,0,53,121,0,191,0,PA,42.191781,2
345,"Ogden-Clearfield, UT",36260,2017,365,178,150,35,2,0,0,...,51,0,36,248,0,78,3,UT,48.767123,2
355,"Oxnard-Thousand Oaks-Ventura, CA",37100,2017,365,164,168,20,8,3,0,...,53,0,0,250,0,107,8,CA,44.931507,11
362,"Payson, AZ",37740,2017,365,69,155,120,21,0,0,...,84,0,0,93,256,0,16,AZ,18.904110,21
365,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",37980,2017,365,126,217,20,2,0,0,...,55,0,3,117,2,242,1,MD,34.520548,2
366,"Phoenix-Mesa-Scottsdale, AZ",38060,2017,365,32,238,82,11,1,1,...,84,0,12,135,0,58,160,AZ,8.767123,12
368,"Pittsburgh, PA",38300,2017,365,92,241,31,1,0,0,...,59,0,0,89,28,247,1,PA,25.205479,1
398,"Riverside-San Bernardino-Ontario, CA",40140,2017,365,25,165,95,53,25,2,...,99,0,16,222,1,95,31,CA,6.849315,78
412,"Sacramento--Roseville--Arden-Arcade, CA",40900,2017,365,128,172,62,3,0,0,...,61,0,1,243,0,117,4,CA,35.068493,3
417,"Salt Lake City, UT",41620,2017,365,163,157,44,1,0,0,...,53,0,11,255,0,96,3,UT,44.657534,1
419,"San Diego-Carlsbad, CA",41740,2017,365,83,220,56,6,0,0,...,65,0,3,242,0,120,0,CA,22.739726,6
420,"San Francisco-Oakland-Hayward, CA",41860,2017,365,170,179,8,7,1,0,...,52,0,18,103,0,244,0,CA,46.575342,8
423,"San Luis Obispo-Paso Robles-Arroyo Grande, CA",42020,2017,365,143,214,8,0,0,0,...,54,0,0,211,0,111,43,CA,39.178082,0
463,"St. Louis, MO-IL",41180,2017,365,167,186,11,1,0,0,...,52,0,12,170,5,162,16,IL,45.753425,1
484,"Tucson, AZ",46060,2017,365,145,213,7,0,0,0,...,53,0,0,207,0,36,122,AZ,39.726027,0
487,"Tuscaloosa, AL",46220,2017,350,165,184,1,0,0,0,...,52,0,0,64,0,286,0,AL,47.142857,0
501,"Visalia-Porterville, CA",47300,2017,365,93,145,96,31,0,0,...,80,0,1,236,0,119,9,CA,25.479452,31
511,"Washington-Arlington-Alexandria, DC-VA-MD-WV",47900,2017,365,147,210,8,0,0,0,...,53,0,24,164,0,177,0,WV,40.273973,0
534,"Yuba City, CA",49700,2017,365,181,175,9,0,0,0,...,51,0,0,172,0,189,4,CA,49.589041,0

In [123]:
# Any places where the median is >= 101, which is 'unhealthy for sensitive groups'?
# (Just Hilo, HI in 2017-- and it's actually quite close to 'unhealthy')
aqi17[aqi17['median_aqi'] >= 101]

,cbsa,cbsa_code,year,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,...,median_aqi,days_CO,days_NO2,days_ozone,days_SO2,days_PM2.5,days_PM10,state_abbr,pct_good,sum_unhealthy_very_unhealthy
212,"Hilo, HI",25900,2017,365,6,58,132,167,2,0,...,146,0,0,0,356,9,0,HI,1.643836,169

In [124]:
aqi17.columns

Index(['cbsa', 'cbsa_code', 'year', 'days_with_aqi', 'good_days',
       'moderate_days', 'unhealthy_sensitive_days', 'unhealthy_days',
       'very_unhealthy_days', 'hazardous_days', 'max_aqi',
       '90th_percentile_aqi', 'median_aqi', 'days_CO', 'days_NO2',
       'days_ozone', 'days_SO2', 'days_PM2.5', 'days_PM10', 'state_abbr',
       'pct_good', 'sum_unhealthy_very_unhealthy'],
      dtype='object')

In [138]:
# Places that experienced the highest max_aqi in 2017?
# I am willing to bet the first one is an error... 2060 seems like it would kill people instantly...
# Even so, AQIs of nearly 700-- or even 200-- are incredible.
aqi17[['cbsa', 'max_aqi']].sort_values('max_aqi', ascending=False).head(10)

                                     cbsa  max_aqi
47                             Bishop, CA     2060
156                          Evanston, WY      696
267                        Las Cruces, NM      617
310                          Missoula, MT      593
355      Oxnard-Thousand Oaks-Ventura, CA      537
154                            Eugene, OR      380
398  Riverside-San Bernardino-Ontario, CA      366
41                       Bend-Redmond, OR      365
366           Phoenix-Mesa-Scottsdale, AZ      365
26         Augusta-Richmond County, GA-SC      364

In [139]:
# Days when ozone was the main pollutant?
aqi17[['cbsa', 'days_CO', 'days_NO2', 'days_ozone', 'days_SO2', 'days_PM2.5', 'days_PM10']]\
        .sort_values('days_ozone', ascending=False).head(10)

,cbsa,days_CO,days_NO2,days_ozone,days_SO2,days_PM2.5,days_PM10
247,"Killeen-Temple, TX",0,0,365,0,0,0
166,"Flagstaff, AZ",0,0,365,0,0,0
105,"Concord, NH",0,0,364,1,0,0
440,"Sevierville, TN",0,0,364,0,0,0
451,"Somerset, PA",0,0,363,0,0,0
165,"Fernley, NV",0,0,363,0,0,0
335,"New Castle, PA",0,0,363,2,0,0
452,"Sonora, CA",0,0,362,0,0,0
205,"Harrison, AR",0,0,362,0,2,0
72,"Carlsbad-Artesia, NM",0,3,362,0,0,0

In [137]:
# What about days for CT when ozone was the main pollutant?
just_state('CT')[['cbsa', 'good_days', 'moderate_days', 'unhealthy_sensitive_days',
                 'sum_unhealthy_very_unhealthy', 'days_ozone']].sort_values('days_ozone', ascending=False)

,cbsa,good_days,moderate_days,unhealthy_sensitive_days,sum_unhealthy_very_unhealthy,days_ozone
480,"Torrington, CT",333,28,2,0,313
530,"Worcester, MA-CT",323,37,5,0,283
336,"New Haven-Milford, CT",287,66,8,4,222
342,"Norwich-New London, CT",312,28,6,2,203
207,"Hartford-West Hartford-East Hartford, CT",270,86,8,1,178
61,"Bridgeport-Stamford-Norwalk, CT",267,82,12,4,174